<div class="container mt-5">
    <h2 class="text-center">Inicio de Sesión</h2>
    <form id="loginForm" action="/login" method="POST">
        <div class="mb-3"> 
            <label for="email" class="form-label">Email:</label> 
            <input type="email" class="form-control" id="username" name="email" required> 
        </div>
        <div class="mb-3"> 
            <label for="password" class="form-label">Password:</label> 
            <input type="password" class="form-control" id="password" name="password" required> 
        </div> 
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <BR>
    <a href="/register"><button>Register</button></a>
</div>